* {
  box-sizing: border-box;
}

html,
body,
main {
  width: 100%;
  height: 100%;
}

.preview-wrapper {
  border: 0.5px solid #999;
  display: inline-block;
}

.dimensions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.dimensions div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dimensions input {
  width: 100px;
}

.preview-wrapper-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
